body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/jesus-hilario-h-5v69Vl62NCM-unsplash.jpg);
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.flexbox-container>.project {
    padding: 15px;
    margin: 15px;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #919191;
    flex-grow: 1;
    flex: 1 1 30%;
    height: 90px;
    background-color: #111;
    transition: all .3s ease-in-out;
    font-size: 12px;

}

.project:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px #919191, 2px 2px #919191, 3px 3px #919191;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 5px 5px 10px 5px;
    padding: 0;
}

li {
    text-align: center;
}

.flexbox-container li {
    padding: 5px;
}

.selenide,
.jbehave,
.testng {
    width: 40px;
    height: 20px;
}

.selenium,
.junit5,
.spring,
.reporter {
    width: 20px;
    height: 20px;
}

.reporter {
    filter: invert(100%);
}

.flexbox-footer {
    border-top: 1px solid #919191;
    font-size: 10px;
    padding-top: 20px;
}

@media (min-width: 760px) {
    .flexbox-container {
        flex-direction: row;
    }
}
