body {
    background-color: #B7CADB;
}

ul {
    list-style-type: none;
    margin: 5px 5px 5px 5px;
    padding: 0;
}

li {
    text-align: center;
}

.wide_icon {
    width: 60px;
    height: 30px;
}

.square_icon {
    width: 40px;
    height: 40px;
}

.align-items-end {
    font-size: 10px;
}

.card-header {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    background-color: #2E4054;
    color: #FFFFFF;
}

.card-footer {
    background-color: #2E4054;
}

.card-body {
    background-color: #FFFFFF;
}

.card-body a {
    font-family: 'Judson', serif;
    font-size: 12px;
}

.height-5 {
    min-height: 5vh;
}

.height-80 {
    min-height: 80vh;
}

.height-100 {
    min-height: 100vh;
}

@media screen and (min-width:576px) {
    .card {
        min-height: 290px;
    }
}

@media screen and (min-width:768px) {
    .card {
        min-height: 290px;
    }
}

@media screen and (min-width:992px) {
    .card {
        min-height: 260px;
    }
}

@media screen and (min-width:1280px) {
    .card {
        min-height: 260px;
    }
}